header {
  background-color: white;
  padding: 3.2rem 0;

  & nav {
    & > ul {
      & > li {
        list-style: none;
        margin: 0;
        padding: 0;
        
        & > a {
          color: #1D1D1D;
          font-size: 20px;
          text-decoration: none;
          margin: 0 0 0 50px;
    
          &:hover{
            color: #0C70F2;
          }
        }
      }
    }
  }
}
